name: Build GUI

on:
  push:
    branches: [ "master", "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "master", "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build with PyInstaller
      run: |
        pyinstaller --noconfirm --onefile --windowed --name AutoEditorGUI --collect-all customtkinter --collect-all auto_editor gui.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: AutoEditorGUI
        path: dist/AutoEditorGUI.exe

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: dist/AutoEditorGUI.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
